header{
    padding: 0;
    margin: 0;
}
body{
    background-color: #c8c8c9
}
.position-relative {
    position: relative;
}

.shop-now-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.shop-now-overlay .nav-link {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.position-relative:hover .shop-now-overlay {
    opacity: 1;
    color: white;
    background-color: black;
}
.fa-brands{
    width: 30px;
    font-size: 20px;
}
.fa-brands-1 .fa-brands{
    width: 30px;
    font-size: 30px;
    margin-left: 10px;
}
.nav-item{
    font-weight: 500;
}
.col-md-2 .navbar-brand{
    font-size: 25px;
    font-weight: bold;
    color: maroon;
}
.carousel-control-prev .carousel-control-prev-icon{
    background-color: black;
}
.carousel-control-next .carousel-control-next-icon{
    background-color: black;
}
.carousel-inner img {
    max-width: 100%;
    height: auto;
  }
  .carousel-item {
    transition: transform 0.6s ease-in-out;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 5%;
  }